* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaf7ff;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cuadro {
    width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 25px;
    text-decoration: none;
    font-size: 30px;
    color: #2196f3;
    transition: 0.3s;
}

.btn-back:hover {
    color: #1976d2;
    transform: translateX(-5px);
}

h1 {
    text-align: center;
    color: #222;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 span {
    color: #2196f3;
}

.descripcion {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input {
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: .3s;
}

input:focus {
    border-color: #2196f3;
    box-shadow: 0 0 8px rgba(33, 150, 243, .3);
}

/* Olvidaste contraseña */
.olvidaste {
    text-align: right;
    color: #2196f3;
    text-decoration: none;
    margin-bottom: 25px;
}

.olvidaste:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2196f3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #1976d2;
    transform: translateY(-2px);
}

.texto-inferior {
    text-align: center;
    margin-top: 25px;
    color: #666;
}

.texto-inferior a {
    color: #2196f3;
    text-decoration: none;
    font-weight: bold;
}

.texto-inferior a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .cuadro {
        width: 90%;
        padding: 30px 20px;
    }

    .btn-back {
        left: 20px;
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }
}
